.container{
    margin: 12px;
    background-color: rgb(213, 255, 250);
    padding: 20px;
    display: grid;
    text-align: center;
    justify-content: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.btn{
    margin: 10px;
    border-radius: 12px;
    background-color: blue;
color: white;
padding: 10px;
}
.btn:hover{
    background-color: white;
    color: blue;
}